@media all and (max-width: 1300px){
    .vcontainer{
	width: 1200px;
	height: 675px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -675px;
    }

    #ruis{
	margin-top: -675px;
    }
    
    #controls{
	width: 1200px;
    }
}

@media all and (max-width: 1220px){
    .vcontainer{
	width: 1120px;
	height: 630px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -630px;
    }

    #ruis{
	margin-top: -630px;
    }
    
    #controls{
	width: 1120px;
    }
}

@media all and (max-width: 1140px){
    .vcontainer{
	width: 1040px;
	height: 585px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -585px;
    }

    #ruis{
	margin-top: -585px;
    }
    
    #controls{
	width: 1040px;
    }
}

@media all and (max-width: 1060px){
    .vcontainer{
	width: 960px;
	height: 540px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -540px;
    }

    #ruis{
	margin-top: -540px;
    }
    #controls{
	width: 960px;
    }    
}

@media all and (max-width: 980px){
    .vcontainer{
	width: 880px;
	height: 495px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -495px;
    }

    #ruis{
	margin-top: -495px;
    }
    #controls{
	width: 880px;
    }
}

@media all and (max-width: 900px){
    .vcontainer{
	width: 800px;
	height: 450px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -450px;
    }

    #ruis{
	margin-top: -450px;
    }
    #controls{
	width: 800px;
    }
}

@media all and (max-width: 820px){
    .vcontainer{
	width: 720px;
	height: 405px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -405px;
    }

    #ruis{
	margin-top: -405px;
    }
    #controls{
	width: 720px;
    }
}

@media all and (max-width: 740px){
    .vcontainer{
	width: 640px;
	height: 360px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -360px;
    }

    #ruis{
	margin-top: -360px;
    }
    #controls{
	width: 640px;
    }
}

@media all and (max-width: 660px){
    .vcontainer{
	width: 560px;
	height: 315px;
    }

    #video1{
	margin-top: 0px;
    }

    #video2{
	margin-top: -315px;
    }

    #ruis{
	margin-top: -315px;
    }
    #controls{
	width: 560px;
    }
    
    
}

@media all and (max-width: 580px){
    .vcontainer{
	width: 480px;
	height: 270px;
    }

    #video1{

	margin-top: 0px;
    }

    #video2{
	margin-top: -270px;
    }

    #ruis{
	margin-top: -270px;
    }
    #controls{
	width: 480px;
    }
}

@media all and (max-width: 500px){
    .vcontainer{
	width: 400px;
	height: 225px;
    }

    #video1{

	margin-top: 0px;
    }

    #video2{
	margin-top: -225px;
    }

    #ruis{
	margin-top: -225px;
    }
    #controls{
	width: 400px;
    }
}

@media all and (max-width: 420px){
    .vcontainer{
	width: 320px;
	height: 180px;
    }

    #video1{

	margin-top: 0px;
    }

    #video2{
	margin-top: -180px;
    }

    #ruis{
	margin-top: -180px;
    }
    #controls{
	width: 320px;
    }
}

@media all and (max-width: 340px){
    .vcontainer{
	width: 240px;
	height: 135px;
    }

    #video1{

	margin-top: 0px;
    }

    #video2{
	margin-top: -135px;
    }

    #ruis{
	margin-top: -135px;
    }
    #controls{
	width: 240px;
    }
}